# misc
.DS_Store


# dev folders
build
result

__pycache__
__pypackages__
*.egg-info
messenger_grpc/*_pb2.py

.cache
.ccls-cache
.dream2nix


# dev files
compile_commands.json

.pre-commit-config.yaml
.pdm-python
